<% content_for :sidenav do %>
  <%# Have to pass a local to force the showing because we don't have control over params for devise controllers %>
  <%= render partial: 'shared/sidenav_tools', locals: { show: 'true' } %>
<% end %>

<div class="container">
  <h1>Add a Category</h1>
  <%= render 'form' %>
</div>
