<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render :partial => "shared/snopfull" %>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div> 
<br>

<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="snopsize">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>

<div id="fave">
  <% if user_signed_in? %>
  	<% if @fave_snop.nil? %>
  	  <%= render 'fave_snops/favourite' %>
  	<% else %>
      <%= render 'fave_snops/unfavourite' %>
    <% end %>
  <% end %>
</div>
