<div class="container">
  <div class="text">
    <h1>Welcome to Snopsize!</h1>         

    <p class="large">Snopsize is a cool new way to read the latest news with key points and facts presented in a standard template called a Snop. Short, simple and Snopped. If you want to read more, just click the link off to the left and you’ll be taken to the original article in full.</p> 

    <p class="large">You can even make your own headlines and create Snops of your favourite articles and share them with your contacts.</p>

    <p class="large">We're currently in beta so all comments and suggestions are welcome.</p>

    <p class="large">And remember - Keep it simple. Snopsize! </p>   
  </div>      
              
  <div class="callout">
    <h2>Get in touch:<br />
      <a href="mailto:info@snopsize.com">info@snopsize.com</a><br />
      <a href="http://twitter.com/snopsize/" target="_blank">follow @snopsize</a>
    </h2>
  </div><!--close callout-->  
</div>