<% content_for :list_flow_buttons do %>
  <li class="snopflow"><%= link_to_function "Snop Flow", 'changeToBrowseView()' %></li>
  <li class="listview off"><%= link_to_function "List View", 'changeToListView()' %></li>
<% end %>