<% content_for :tools_short do %>
  <div class="tools short">
  	<%= content_tag :span, nil, { class: "arrow prev", id: "prev" } %><%= content_tag :span, nil, { class: "arrow next", id: "next" } %>
  </div><!--close tools short-->
<% end %>