<% content_for :tools_short do %>
  <div class="tools short">
    <div class="nav-arrows">
      <%= content_tag :div, nil, { class: "arrow prev", id: "prev" } %>
      <%= content_tag :div, nil, { class: "arrow next", id: "next" } %>
    </div><!--close arrows-->
  </div><!--close tools short-->
<% end %>