<%# A snop browse view shows a full snop view along with buttons to switch between them %>
<%# current_snop = The snop to show %>
<%# snop_list = The snops to switch between %>
<%= link_to "Close", get_snops_path(snops: snop_list, snop_view: false, show_category: show_category), remote: true %>

<div id="buttons">
  <div id="prev_button">
    <%= button_to "<", get_snops_path(snops: snop_list, snop: snop_get_prev_in_list(current_snop, snop_list), direction: 'prev', snop_view: true, show_category: show_category, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0]), remote: true, disabled: !snop_has_prev_in_list?(current_snop, snop_list), method: :get %>
  </div>
  
  <div id="next_button">
    <%= button_to ">", get_snops_path(snops: snop_list, snop: snop_get_next_in_list(current_snop, snop_list), direction: 'next', snop_view: true, show_category: show_category, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0]), remote: true, disabled: !snop_has_next_in_list?(current_snop, snop_list), method: :get %>
  </div>  
</div>

<div id="snop">
  <%= render :partial => "shared/snopfull", locals: {snop: current_snop} %>
</div>