<%# A snop browse view shows a full snop view along with buttons to switch between them %>
<%# current_snop = The snop to show %>
<%# snop_list = The snops to switch between %>
<%= link_to "Close", close_path, remote: true %>

<div id="buttons">
  <div id="prev_button">
    <button id="prev" type="button">&lt</button>
  </div>
  
  <div id="next_button">
    <button id="next" type="button">&gt</button>
  </div>  
</div>

<div id="snop_container">
  <% snop_list.each do |snop| %>
    <% @class = "hidden_snops" %>
    <% @class = "current_snop" if snop == current_snop %>

    <div id="<%= "snop_"+snop.id.to_s %>" class="<%= @class %>">
      <%= render :partial => "shared/snopfull", locals: {snop: snop} %>
    </div>
  <% end %>
</div>