<script>
$(document).ready(reloadSnopsTable)

function reloadSnopsTable()
{
  $('#snops').dataTable( {
    "bFilter": false, 
    "bLengthChange": false,
    "bPaginate": false,
    "bInfo": false,
    "aaSorting": []
    });
}
</script>

<h1>Snopsize</h1>
<br>
<%= render template: 'search/search' %>
<h2>Popular Snops</h2>
<div id="snops_view">
  <%= render partial: 'shared/snop_list_view', locals: {snops: @snops} %>
</div>