<script>
$(document).ready(reloadSnopsTable)

function reloadSnopsTable()
{
  $('#snops').dataTable( {
    "bJQueryUI": true,
    "bFilter": false, 
    "bLengthChange": false,
    "bPaginate": false,
    "bInfo": false,
    "bSort": false,
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $("#snops").data("source")
    });
}
</script>

<h1>Snopsize</h1>
<br>
<%= render template: 'search/search' %>
<h2>Popular Snops</h2>
<div id="snops_view">
  <%= render partial: 'shared/snop_list_view', locals: {snops: @snops, show_category: false} %>
</div>