<table id="resources" cellpadding="0" cellspacing="0" border="0" class="display" width="100%" data-source=<%= data_source %>>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Snops</th>
      <th>Last Snopped About</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>