<h2 class="subtitle">Viewing Snops for <%= @url %></h2>

<%# Partial to switch between the Snop flow and list view %>
<%= render partial: 'shared/list_flow_buttons' %>

<%# The next/prev buttons %>
<%= render partial: 'shared/next_prev_buttons', locals: { browse_view: params[:browse_view] == "true" } %>

<%# TODO: This should go into the side nav %>
<%#= link_to (t :snop_about_this), new_snop_path(uri: @url)%>

<%# get all snops for this domain and resource combination %>
<%= render partial: 'shared/snop_all_views', locals: {snops: @snops, data_source: resource_path(format: "json")} %>

<%# list_view_path: resource_path, browse_view_path: resource_path(domain_id: @resource.domain.id, resource_id: @resource.id, snop: @snops.first, browse_view: true, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0], sSearch: params[:sSearch]) %>

