<h2>Viewing snops for <%= @url %></h2>

<%= button_to "Snop about " + @url, new_snop_path(url: @url) %></br>

<%# get all snops for this domain and resource combination %>
<% if @snops %>
	<%= render :partial => 'shared/snopquick', :collection => @snops %>
<% end %>
