<script>
$(document).ready(reloadSnopsTable)

function reloadSnopsTable()
{
  $('#snops').dataTable( {
    "aaSorting": []
    });
}
</script>

<h2>Viewing snops for <%= @url %></h2>

<%= link_to "Snop about " + @url, new_snop_path(uri: @url)%></br></br>

<%# get all snops for this domain and resource combination %>
<% if @snops %>
  <div id="snops_view">
    <%= render partial: 'shared/snop_list_view', locals: {snops: @snops} %>
  </div>
<% end %>
