<script>
$(document).ready(reloadSnopsTable)

function reloadSnopsTable()
{
  $('#snops').dataTable( {
    "bFilter": false, 
    "bJQueryUI": true,
    "aaSorting": [],
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": $("#snops").data("source")
    });
}
</script>

<h2>Viewing snops for <%= @url %></h2>

<%= link_to "Snop about " + @url, new_snop_path(uri: @url)%></br></br>

<%# get all snops for this domain and resource combination %>
<% if @snops %>
  <div id="snops_list_view">
    <%= render partial: 'shared/snop_list_view', locals: {snops: @snops, show_category: false} %>
  </div>
  <div id="snops_browse_view">
    <%= render partial: 'shared/snop_browse', locals: {current_snop: @snops.first, snop_list: @snops, show_category: false} %>
  </div>
<% end %>
