<h2>Viewing snops for <%= @url %></h2>

<%= link_to "Snop about " + @url, new_snop_path(uri: @url)%></br></br>

<%# get all snops for this domain and resource combination %>
<% if @snops %>
  <div id="snops_list_view">
    <%= render partial: 'shared/snop_list_view', locals: {data_source: resource_path(format: "json")} %>
  </div>
  <div id="snops_browse_view">
    <%= render partial: 'shared/snop_browse', locals: {current_snop: @snops.first, snop_list: @snops, next_path: resource_path(snops: @snops, snop: snop_get_next_in_list(@snops.first, @snops), direction: 'next', browse_view: true, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0]), prev_path: resource_path(snops: @snops, snop: snop_get_prev_in_list(@snops.first, @snops), direction: 'prev', browse_view: true, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0]), close_path: resource_path} %>
  </div>
<% end %>
