/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

//= require cssreset-min
//= require_self
//= require dataTables/jquery.dataTables
//= require jquery.ui.core
//= require jquery.ui.theme
//= require_tree .

/* We set the snop container to be relatively position so we can animate */
#snop_container
{
  position: relative;
}

.snop.current
{
  float: left;
  padding-right: 25px;
  width: 750px;
  height: auto;
}

.snop.hidden
{
  float: left;
  padding-right: 25px;
  width: 750px;
  height: 1px; /* This is so the height resizes properly */
}

/* For word wrapping in the table */
#snops
{
  table-layout: fixed;
}

#snops td {
  word-wrap: break-word;
}